/* GENERAL RESETS */

.windows95 nav .nav-link,
.windows95 nav .nav-logo {
  height: 30px;
  line-height: 1.5;
}

.windows95 nav .nav-logo img {
  margin-left: 2px;
  max-height: 20px;
}

.windows95 nav .nav-logo > span {
  position: absolute;
  top: 9px;
  left: 37px;
  font-weight: bold;
}

.windows95 .btn:focus {
  border-color: #fff #000 #000 #fff;
  outline: 5px auto -webkit-focus-ring-color;
}

.windows95 .btn.active:before,
.windows95 .btn:focus:before,
.windows95 button.active:before,
.windows95 button:focus:before,
.windows95 input[type=submit].active:before,
.windows95 input[type=submit]:focus:before {
  border-color: #dedede grey grey #dedede;
}
