html, body {
  margin: 0;
  padding: 0;
  background: #000;
  /* cursor: none; */
}

#emulator {
  display: flex
}

#emulator canvas {
  margin: auto;
}

body.paused > #emulator {
  display: none;
}

#other-buttons {
  position: absolute;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  justify-content: center;
}

#start-buttons {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: Courier;
  cursor: pointer;
  background: #ffd2fd;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background: #ff95fa;
  margin: 10px;
  padding: 5px;
}
