html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #000;
}

body.paused > #emulator {
  display: none;
}

body.paused {
  background: #008080;
  font-family: Courier;
}

#buttons {
  user-select: none;
}

#status {
  user-select: none;
  position: absolute;
  z-index: 100;
  left: calc(50vw - 110px);
  background: white;
  text-align: center;
  font-family: Courier;
  font-size: 10px;
  padding-bottom: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 18px;
}

#floppy-path {
  background: beige;
  padding: 5px;
}

#information {
  text-align: center;
  position: absolute;
  width: 100vw;
  bottom: 50px;
  font-size: 18px;
}

#emulator {
  display: flex
}

#emulator canvas {
  margin: auto;
}

#file-input {
  display: none;
}

#other-buttons {
  position: absolute;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: flex-end;
  bottom: 0;
  justify-content: center;
}

#start-buttons {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  font-family: Courier;
  cursor: pointer;
  background: #ffd2fd;
  margin: 10px;
  padding: 5px;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  background: #ff95fa;
  margin: 10px;
  padding: 5px;
}
