#status-hotzone {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
}

#status {
  user-select: none;
  position: absolute;
  z-index: 100;
  left: 50vw;
  transform: translateX(-50%);
  white-space: nowrap;
  background: white;
  font-size: 10px;
  padding-bottom: 3px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  max-height: 18px;
  top: 0;
  transition: transform 0.12s ease-out;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;

  a.toggle {
    display: inline-block;
    width: 4ch;
    text-align: center;
  }

  .spark {
    vertical-align: -2px;
    margin-right: 4px;

    polyline {
      fill: none;
      stroke: currentColor;
      stroke-width: 1;
    }
  }

  &.hidden {
    transform: translateX(-50%) translateY(-100%);
  }
}

#status-hotzone:hover + #status.hidden,
#status.hidden:hover {
  transform: translateX(-50%) translateY(0);
}
